.input {
  width: 280px;
  font-size: 1.2rem;
  padding: 0.5rem 0.75rem;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  border: 2px solid rgb(0, 228, 228);
  outline: none;
  color: rgb(0, 228, 228);
}

.button {
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  padding: 0.5rem 0.75rem;
  font-size: 1.2rem;
  background-color: rgb(0, 228, 228);
  color: #fff;
  border: 2px solid rgb(0, 228, 228);
  cursor: pointer;
}

.button:hover {
  background-color: #fff;
  color: rgb(0, 228, 228);
}
